<div class="card-container">
  <mat-card
    class="example-card"
    appearance="outlined"
    *ngFor="let cpu of cpuList"
    (click)="onClick(cpu.id)"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ cpu.model }}</mat-card-title>
      <mat-card-subtitle>{{ cpu.brand }}</mat-card-subtitle>
    </mat-card-header>

    <img
      mat-card-image
      [src]="cpu.imageUrl.image"
      alt="Photo of {{ cpu.model }}"
      class="cpu-image"
    />

    <mat-card-content>
      <p class="cpu-description">
        {{ cpu?.description?.description }}
      </p>
      <p class="cpu-price">
        {{ cpu.price | currency: 'EUR': 'symbol-narrow' }}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button class="action-button">Add To Cart</button>
      <button mat-button class="action-button">Add to Wishlist</button>
    </mat-card-actions>
  </mat-card>
</div>
