
<div class="button-container">
  <button mat-button (click)="emptyWishlist()"><i class="material-icons">delete_outline</i>EMPTY</button>
</div>

<div class="product-list">
    <div *ngFor="let item of items" class="product-row">
      <mat-card class="product-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ item.product.model }}</mat-card-title>
          <mat-card-subtitle>{{ item.product.brand }}</mat-card-subtitle>
        </mat-card-header>
  
        <div class="product-content">
          <img mat-card-image [src]="item.product.imageUrl" alt="Product Image">
          <div class="product-info">
            <p>{{ item.product.description }}</p>
            <h5>Price: {{ item.product.price | currency:'EUR' }}</h5>
          </div>
        </div>
  
        <mat-card-actions>
          <button mat-button (click)="addToCart(item.product.id); deleteItem(item.id); $event.stopPropagation();"><i class="material-icons"><i class="material-icons">add_shopping_cart</i></i></button>
          <button mat-button (click)="deleteItem(item.id); $event.stopPropagation();"><i class="material-icons">remove</i></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  