<div class="cart-container">
  <div class="product-list">
    <div *ngFor="let item of items" class="product-row">
      <mat-card class="product-card" appearance="outlined">
        <div class="product-details">
          <img class="product-image" [src]="item.product.dati.imageUrl" alt="Product Image" />
          <div class="product-info">
            <h3>{{ item.product.dati.model }}</h3>
            <p>{{ item.product.dati.brand }}</p>
            <p>{{ item.product.dati.description }}</p>
            <h5>Price: {{ item.product.dati.price | currency : 'EUR' }}</h5>
            <div class="quantity-container">
              <button mat-mini-button color="primary" (click)="addQuantity(item.id)">+</button>
              <span>{{ item.quantity }}</span>
              <button mat-mini-button color="primary" (click)="reduceItem(item.id)">-</button>
            </div>
            <button mat-icon-button color="warn" (click)="deleteItem(item.id); $event.stopPropagation()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="total-price">
    <h3>Total Price: {{ totalPrice | currency: 'EUR' }}</h3>
  </div>

  <div class="checkout-button-container">
    <button mat-raised-button color="accent" [routerLink]="['/@me/checkout']">
      Go to Checkout
    </button>
  </div>
