.product-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spazio tra le righe */
    width: 100%;
  }
  
  .product-row {
    width: 75%; /* Occupa quasi tutta la larghezza */
    margin: 0 auto; /* Centra gli elementi */
    cursor: pointer;
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .product-content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }
  
  .product-content img {
    width: 250px; /* Dimensione immagine */
    height: auto;
  }
  
  .product-info {
    flex-grow: 1;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }

  .button-container {
    text-align: center;
    margin-bottom: 20px; /* opzionale, per dare un po' di spazio */
  }
  
  /* Stili per la "X" e per la gestione della quantità */
.remove-item {
  font-size: 20px;
  color: red;
  font-weight: bold;
  background: none;
  border: none;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-container button {
  padding: 5px 10px;
  font-size: 16px;
}

.quantity-container span {
  font-size: 16px;
  font-weight: bold;
}
