<!-- Template inline per il dialog di aiuto
<ng-template class="foo" style="display: block;" #helpDialog>
  <h1 mat-dialog-title>Aiuto</h1>
  <div mat-dialog-content>
    <p>Qui puoi inserire le informazioni di aiuto che desideri mostrare all'utente.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Chiudi</button>
  </div>
</ng-template> -->


<footer class="footer" >

  <section class="footer-links" >
    <div class="container text-center text-md-start mt-5">
      <div class="row ">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="companyName">DDDR TechZone</h6>
          <p>Il tuo negozio di componenti hardware di qualità! Scopri il meglio della tecnologia con TechZone, il punto di riferimento per gli appassionati di hardware e professionisti del settore.</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6>Products</h6>
          <p><a routerLink="/products" class="text-reset">Products</a></p>
          <p><a routerLink="/products/" class="text-reset">React</a></p>
          <p><a routerLink="/product" class="text-reset">Vue</a></p>
          <p><a routerLink="/product" class="text-reset">Laravel</a></p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6>Useful links</h6>
          <p><a routerLink="/admin" class="text-reset">Admin</a></p>
          <p><a routerLink="/about" class="text-reset">About</a></p>
          <p><a routerLink="/admin/" class="text-reset">Orders</a></p>
          <p><a (click)="openHelpDialog()" style="cursor: pointer;" matTooltip="Puoi contattarci con l'email per qualsiasi problema" class="text-reset">Help</a></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6>Contact</h6>
          <p><i class="fas fa-home me-3"></i> Italia ,Puglia, BA 71000, IT</p>
          <p><i class="fas fa-phone me-3"></i> + 39 324 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 39 324 567 89</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2025 Copyright: DDDR TechZone
  </div>
</footer>
