

<div *ngIf="!searched"  >
  <mat-label id="example-radio-group-label">Vuoi individuare l'utente in base al id o in base al email?</mat-label>
<mat-radio-group aria-labelledby="example-radio-group-label"
class="example-radio-group" (change)="swtichUserSearchMode($event)" >
    <mat-radio-button value="id">#ID</mat-radio-button>
    <mat-radio-button value="email">Email</mat-radio-button>
  </mat-radio-group>

  <form #searchUsersOrder="ngForm" (submit)="onSubmit(searchUsersOrder);">

    <div *ngIf="searchType == 'id'">
      <mat-form-field>
        <mat-label>User id</mat-label>
        <input type="number" matInput  name="userID" ngModel>
      </mat-form-field>

      <button mat-stroked-button type="submit">Search</button>      
    </div>
    
    <div *ngIf="searchType == 'email'">
      <mat-form-field >
        <mat-label>User Email</mat-label>
        <input type="email" matInput placeholder="email@esempio.it" name="userEmail" ngModel >
      </mat-form-field>

      <button mat-stroked-button type="submit">Search</button>      

    </div>

  </form>
</div>

<div *ngIf="searched">

  <button mat-stroked-button (click)="onGoBackClick()">Go back</button>
  <br><br>


  <div *ngFor="let order of orderList">

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        
        <mat-panel-title> Ordine #{{order.id}} </mat-panel-title>
        <mat-panel-description> Data: {{order.orderDate | date}} | Prezzo totale: {{order.totalPrice | currency}} </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Ordine #{{order.id}} Effettuato in data {{order.orderDate | date}} con un prezzo totale di {{order.totalPrice | currency}} </p>
      <p>Stato del ordine: {{order.status}}  </p>
      <p>É stato spedito al indirizzo: {{order.address.street}}, {{order.address.houseNumber}}, {{order.address.city}}, {{order.address.postalCode}}, {{order.address.country}} </p>

      <button mat-stroked-button (click)="openDeleteOrderDialog(order.id)" class="red-button" >
        <i class="material-icons">delete_forever</i>Cancella Questo Ordine
      </button>

      <button mat-stroked-button (click)="openChangeAddress(order.address.id, order.id)" class="cyan-button" [disabled]="!(order.status == 'PENDING' || order.status == 'PREPARING')">
        <i class="material-icons">local_shipping</i>Scegli un altro indirizzo
      </button>

            <button mat-stroked-button (click)="openChangeOrderState(order.id,order.status)" class="cyan-button">
      <i class="material-icons">change_circle</i>Cambia lo stato
      </button>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="centered-title"> Prodotti </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <br>
        <div *ngFor="let item of order.orderItemsList" class="order-item">
          <img [src]="item.product.imageUrl" alt="{{item.brand}} {{item.model}}" class="item-image">
          <div class="item-details">
            <p><strong>Marca e Modello:</strong> {{item.product.brand}} {{item.product.model}}</p>
            <p><strong>Quantità:</strong> {{item.quantity}}</p>
            <p><strong>Prezzo Singolo:</strong> {{item.product.price | currency}}</p>
            <p><strong>Prezzo Totale:</strong> {{item.product.price * item.quantity | currency}}</p>
            <div class="item-buttons">
              <button mat-stroked-button (click)="openDeleteItemDialog(item.orderId, item.id, item.product.brand, item.product.model)" class="red-button">
                <i class="material-icons">delete_forever</i>Rimuovi da ordine
              </button>
            </div>
            <br><br>
            <mat-divider></mat-divider>
            <br><br>
          </div>


        </div>
      </mat-expansion-panel>
      
    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </div>
</div>