<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow" style="max-width: 400px; width: 100%;">
      <div class="card-header text-center">
          <h5 class="mb-0">Login</h5>
      </div>
      <div class="card-body text-center">
          <img src="https://i.ibb.co/Ng9BKBkJ/key.png" alt="photo of a man holding a key" class="img-fluid mb-3" style="max-width: 25%;">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                  <label for="email" class="form-label">Inserisci la tua email:</label>
                  <input type="email" class="form-control" id="email" placeholder="prova@email.com" formControlName="email" required>
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">Inserisci la tua password:</label>
                  <input type="password" class="form-control" id="password" placeholder="password" formControlName="password" required>
              </div>
              <button type="submit" class="btn btn-outline-primary w-100" [disabled]="loginForm.invalid || isLoading">Login</button>
          </form>
          <div *ngIf="isLoading" class="spinner-border text-primary mt-3" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
      </div>
      <h6 class="mb-3 d-flex justify-content-center">Registrati qui</h6>
      <button routerLink="/register" class="btn btn-primary">
        Registra utente
      </button>
  </div>
</div>