<button mat-button (click)="goback()"style="float: left;">
  <mat-icon>arrow_back</mat-icon> BACK
</button>

  <div class="card-container">
    <mat-card
      class="example-card"
      appearance="outlined"

    >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ product?.model }}</mat-card-title>
        <mat-card-subtitle>{{ product?.brand }}</mat-card-subtitle>
      </mat-card-header>

      <img
        mat-card-image
        [src]="product?.imageUrl"
        alt="Photo of {{ product?.model }}"
        class="product-image"
      />

      <mat-card-content>
        <p class="product-description">
          {{ product?.description?.description }}
        </p>
        <p class="product-price">
          {{ product?.price | currency: 'EUR': 'symbol-narrow' }}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button class="action-button">Add To Cart</button>
        <button mat-button class="action-button">Add to Wishlist</button>
      </mat-card-actions>
    </mat-card>
  </div>



