/* Layout generale */
.card-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.example-card {
  max-width: 500px;
  width: 100%;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #1f1f1f;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mat-card-header {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #333;
}

.mat-card-title, .mat-card-subtitle {
  color: white;
  
}

.mat-card-actions {
  background-color: #2c2c2c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.action-button {
  background-color: #e91e63;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #d81b60;
}

.product-description {
  color: #aaa;
}

.product-price {
  font-size: 1.2em;
  color: #f5a623;
}

/* Add spacing between features and a little styling */
.features-list {
  padding: 15px;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  margin-top: 10px;
}

.features-list span {
  font-weight: bold;
  color: #e91e63;
}

.features-list p {
  color: #aaa;
}

/* Button for Go Back */
button[mat-button] {
  margin-bottom: 20px;
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

button[mat-button]:hover {
  color: #e91e63;
}
