<h2 mat-dialog-title class="dialog-title">Aggiorna Indirizzo</h2>
<p class = "dialog-subtitle">Cambia solo i campi che desideri cambiare, lascia invariati quelli che non vuoi cambiare</p>

<mat-dialog-content class="dialog-content">
    <div> 
        <form [formGroup]="addressForm" class="address-form">
            <div class="form-row">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Paese:</mat-label>
                    <input matInput placeholder="Ex. Italy" formControlName="country">
                </mat-form-field>
        
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Citta:</mat-label>
                    <input matInput placeholder="Ex. Bari" formControlName="city">
                </mat-form-field>
            </div>
    
            <div class="form-row">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Codice Postale</mat-label>
                    <input matInput placeholder="Ex. 70122" formControlName="postalCode">
                </mat-form-field>
            </div>
    
            <div class="form-row">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Strada:</mat-label>
                    <input matInput placeholder="Ex. Via Roberto De Bari" formControlName="street">
                </mat-form-field>
            </div>
    
            <div class="form-row">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Civico:</mat-label>
                    <input type="number" matInput placeholder="Ex. 119" formControlName="houseNumber">
                </mat-form-field>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close="false">Annulla</button>
    <button mat-button (click)="onConfirm()" [disabled]="!addressForm.valid">Conferma</button>
</mat-dialog-actions>