<div class="main-container">
  <!-- HEADER / TOOLBAR -->
  <mat-toolbar role="heading" color="primary">
    <mat-toolbar-row class="toolbar-row">
      <!-- Hamburger icon only on small screens -->
      <button mat-icon-button (click)="sidenav.toggle()" fxShow.lt-md>
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Company Name -->
      <span class="companyName">DDDR TechZone</span>

      <!-- Spacer pushes the menu items to the right -->
      <span class="menu-spacer"></span>

      <!-- Inline menu items only on medium and larger screens -->
      <div fxShow.gt-sm>
        <a class="disapper" routerLink="/product" mat-button>Product</a>
        <a class="disapper" routerLink="/product" mat-button>Menu Item 2</a>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu class="disapper" #menu="matMenu" yPosition="below">
          <a routerLink="/product" mat-button>Product</a>
          <a   routerLink="/product/cpu" mat-button>Cpu</a>
        </mat-menu>

        <a class="disapper" href="#" mat-button>Menu Item 4</a>
        <a class="disapper" href="#" mat-button>Menu Item 5</a>
        <a class="disapper" routerLink="/login" mat-button>Login</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- SIDENAV CONTAINER -->
  <mat-sidenav-container class="mat-sidenav-container">
    <!-- SIDENAV (opens from left) -->
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="#" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#" mat-list-item>Menu Item 6</a>
      </mat-nav-list>
    </mat-sidenav>



    <!-- MAIN CONTENT AREA -->
    <mat-sidenav-content class="mat-sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- FOOTER COMPONENT -->
<app-footer></app-footer>
