.order-item {
  display: flex;
  align-items: flex-start;
  background-color: #333;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.item-image {
  width: 100px;
  height: auto;
  margin-right: 16px;
}
.item-details {
  flex: 1;
  color: #fff;
}
.item-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.item-buttons button {
  margin-bottom: 11px;
}

.mat-panel-title {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
}
.centered-title {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
}
.red-button {
  color: red;
  border-color: red;
}
.cyan-button {
  color: cyan;
  border-color: cyan;
}
.mat-expansion-panel {
  background-color: #444;
  color: #fff;
}
.mat-divider {
  background-color: #555;
}