
.order-item {
  display: flex;
  align-items: flex-start; /* Cambiato da center a flex-start */
}
.item-image {
  width: 100px;
  height: auto;
  margin-right: 16px;
}
.item-details {
  flex: 1;
}
.item-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.item-buttons button {
  margin-bottom: 11px;
}

.mat-panel-title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.centered-title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.red-button {
  color: red;
}
.cyan-button {
  color: cyan;
}