<div class="body">
  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav mode="side" opened class="sidenav">
      <mat-toolbar class="toolbar">
        <span>⚙️ Admin Panel</span>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="products">
          <mat-icon class="icon">shopping_cart</mat-icon> Gestione Prodotti
        </a>
        <a mat-list-item routerLink="customer">
          <mat-icon class="icon">group</mat-icon> Gestione Clienti
        </a>
        <a mat-list-item routerLink="orders">
          <mat-icon class="icon">receipt_long</mat-icon> Gestione Ordini
        </a>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <mat-toolbar color="secondary" class="top-toolbar">
        <span>📊 Dashboard</span>
        <span class="spacer"></span>
        <!-- per far vedere se stai su admin in products invece di altre routes-->
        <a style="display: none;" [routerLink]="['/admin/products']" routerLinkActive="active" #productLink="routerLinkActive">

        </a>
        <button  matTooltip="Aggiungi nuovo prodotto" *ngIf="productLink.isActive" mat-icon-button (click)="onClick()">
          <mat-icon>add</mat-icon>
         </button>

         <a style="display: none;" [routerLink]="['/admin/list']" routerLinkActive="active" #AdminLink="routerLinkActive"></a>

        <button  *ngIf="!AdminLink.isActive" [routerLink]="['/admin/list']" matTooltip="Gestione Admins" mat-icon-button>
           <mat-icon>account_circle</mat-icon>
          </button>

         <button *ngIf="AdminLink.isActive" [routerLink]="['/admin/list']" matTooltip="Indietro" mat-icon-button (click)="goback()"style="float: left;">
          <mat-icon>arrow_back</mat-icon>
        </button>


      </mat-toolbar>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
