<div class="card-container">
  <mat-card
    class="example-card"
    appearance="outlined"
    *ngFor="let prod of productList"
    (click)="onClick(prod.id)"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ prod.model }}</mat-card-title>
      <mat-card-subtitle>{{ prod.brand }}</mat-card-subtitle>
    </mat-card-header>

    <img
      mat-card-image
      [src]="prod.imageUrl"
      alt="Photo of {{ prod.model }}"
      class="product-image"
    />

    <mat-card-content>
      <p class="product-description">
        {{ prod?.description?.description }}
      </p>
      <p class="product-price">
        {{ prod.price | currency: 'EUR': 'symbol-narrow' }}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button class="action-button">Add To Cart</button>
      <button mat-button class="action-button">Add to Wishlist</button>
    </mat-card-actions>
  </mat-card>
</div>
