
<div class="body">
<div class="container">
  <div class="card">
      <h2>HOME</h2>
      <p>Breve descrizione</p>
      <a href="#" class="button green">Maggiori informazioni</a>
  </div>
  <div class="card">
      <h2>PRODUCTS</h2>
      <p>Gamma prodotti</p>
      <a href="#" class="button blue">Scopri di più</a>
  </div>
  <div class="card">
      <h2>CONTACTS</h2>
      <p>Contattaci</p>
      <a href="#" class="button red">Contattaci ora</a>
  </div>
  <div class="card">
      <h2>ABOUT</h2>
      <p>Informazioni</p>
      <a href="#" class="button red">Chi siamo</a>
  </div>
  <div class="card">
    <h2>ABOUT</h2>
    <p>Informazioni</p>
    <a href="#" class="button red">Chi siamo</a>
</div>

</div>
</div>
